docx2txt==0.8
PyPDF2==3.0.0
pdfplumber==0.7.6
streamlit-tags==1.2.7
nltk==3.5
pafy==0.5.5
plotly-express==0.4.1
pandas==1.2.0
openpyxl==3.0.6
pikepdf==6.2.7
fpdf==1.7.2
google==3.0.0
google-search-results==2.4.1
beautifulsoup4
requests
jsons==1.6.3
pdfminer==20191125
selenium==4.7.2
gnews==0.2.7
